
.wrapper {
  color: #311432;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.menu-container {
  background-color: #fff;
  height: 100vh;
}

.sidebar-container {
  background-color: #F5F5F5;
  height: 100vh;
}

.food-img {
  width: 55px;
  height: 55px;
}